<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span>SynergyaTech</span>
        </a>
        <p>
          Innovación, tecnología y compromiso en cada solución.
        </p>
        <div class="social-links d-flex mt-4">
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Enlaces Útiles</h4>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Términos</a></li>
          <li><a href="#">Política de Privacidad</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Nuestros Servicios</h4>
        <ul>
          <li><a href="#">Mantenimiento Biomédico</a></li>
          <li><a href="#">Diseño Web</a></li>
          <li><a href="#">Administración de Servidores</a></li>
          <li><a href="#">Soluciones Eléctricas</a></li>
          <li><a href="#">Innovación Tecnológica</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contáctanos</h4>
        <p>Cll 20 Av. 3ra Ospina Perez<br>Cúcuta, Colombia</p>
        <p class="mt-4"><strong>Teléfono:</strong> <span>+57 320 9214326</span></p>
        <p><strong>Email:</strong> <span>business@synergyatech.com</span></p>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>&copy; <span>Copyright</span> <strong class="px-1">SynergyaTech</strong> <span>Todos los Derechos Reservados</span></p>
    <div class="credits">
      Diseñado por <a href="https://synergyatech.com/">SynergyaTech</a>
    </div>
  </div>

</footer><!-- End Footer -->
